.blogs-container {
    margin-top: 40px;
    padding: 0 120px;
}

.mail-info-container {
    margin-bottom: 15px;
}

.blog-info {

}

.weibo-cat {
    padding: 3px 10px;
    background-color: #888585;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.blog-title-container {
    color: white;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    /*background-color: cornflowerblue;*/
}

.blog-title {
    border: 1px solid;
    border-radius: 5px;
    padding: 1px 15px;
    font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;
    font-weight: bold;
    margin-right: 10px;
}

.blog-date {
    font-style: italic;
    font-weight: 100;
    vertical-align: bottom;
}

.inline {
    display: inline-block;
}

.blog-container {
    margin-bottom: 80px;
    padding: 30px;
    /*background-color: rosybrown;*/
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background-color: rgb(34, 44, 57);
    color: white;
}

.blog-container:hover {
    transform: translate(15px, -15px);
    transition: transform 0.5s;
}

.blog-text {
 padding: 0 10px;
 font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
 border-left: 2px solid green;
 font-weight: bold;
 /*background-color: #F7EED6;*/
}

.blog-pictures-container {
 display: flex;
 justify-content: center;
}

.blog-picture_container {
    margin: 15px 20px;
    width: 300px;
    height: auto;
}

.blog-picture {
    border-radius: 15px;
}

.timeline {
    font-size: 30px;
    margin-left: -200px;
    padding-left: 10px;
    border-left: 2px solid red;
    font-weight: bold;
    font-family: Arial, serif;
}